@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@fortawesome/fontawesome-free/css/all.min.css";


body {
  height: 95%;
  overflow-y: auto;
  @apply font-sans bg-gradient-to-b from-indigo-50 via-white to-indigo-100 text-gray-800;
}
